@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --color: #fdfce4;
  --bg: #163637;
  --sec: #bc5652;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdfce47a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdfce4af;
}

body {
  max-height: 100vh;
  background: var(--bg);
}

.title1 {
  color: var(--color);
}

.title2 {
  color: var(--sec);
}

.myButton {
  background-color: var(--sec);
  color: var(--color);
  transition: all 0.15s ease-in-out;
}

.myButton:hover {
  background-color: #aa423f;
}

.myButton:active {
  transform: scale(0.95);
}

.myBg {
  background-color: #112b2c;
}
